<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="D:\home\site\wwwroot\env\Scripts\python.exe" arguments="D:\home\site\wwwroot\web.py" stdoutLogEnabled="true"
      stdoutLogFile="D:\home\LogFiles\python.log" startupTimeLimit="120">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot\env\Scripts\python.exe"/>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>